
@import "../../global.scss";


.menu{
    width: 25vw;
    height: 100vh;
    background-color: $mainColor;
    position: fixed;
    top: 0;
    right: -25vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;


    &.active{
        right:0;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 2.7vw;
        font-weight: 300;
        color:white;
        width: 60%;


        li{
            margin-bottom: 1.7vw;
            a{
                font-size: inherit;
                color: inherit;
                text-decoration: none;
                display: flex;
                justify-content: center;
                
            }

            &:hover{
                font-weight: 500;
                color: lightpink;
                transform: scale(1.5);
            }
        }
    }

}