@import "../../global.scss";



.works{
    background-color: rgb(235, 1, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


   

    .arrow{
    height: 10vw;
    cursor: pointer;
    position: absolute;

    @include mobile{
        display: none;

    }

    &.left{
        left: 100px;
        transform: rotate(270deg);
        
       
    }

    &.right{
        right: 100px;
        transform: rotate(90deg);
    }

    }


    .slider{
        height: 350px;
        display: flex;
        position:absolute;
        left: 0;
        transition: all 1s ease-out;
        

        @include mobile{
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }
    

    .container{

        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

        .item{
                width: 700px;
                height:100% ;

                background-color:white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 1s ease;
                &:hover{
                    transform: scale(.9);
                  
                }

                @include mobile{
                    width: 90vw;
                    height: 26vh;
                    margin: 5px 0 ;
                    justify-content: space-between;

                }

                .left{
                    flex: 4;
                    background-color: rgb(255, 255, 255);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include mobile{
                        flex: 9;
                    }

                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;


                        .imgContainer{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: pink;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @include mobile{
                                width: 5vw;
                                height: 5vw;
                            }
                            img{
                                width: 25px;
                                

                            }
                                        
                        }
                        h2{
                            font-size: 3vw;

                            @include mobile{
                                font-size: 3vw;
                            }
                            
                        }
                        p{
                            font-size:  .9vw;

                            @include mobile{
                                font-size: 1.7vw;
                            }
                        }
                        span{
                            font-size:2vw;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                            transition: all 2s ease;
                            &:hover{
                             
                                color: red;
                            }

                            @include mobile{
                                font-size: 2vw;
                            }

                        }
                    }
                }


                .right{
                    flex:8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    @include mobile{
                        flex: 2;
                    }

                    img{
                        width: 30vw;
                        transform: rotate(-10deg);
                    }
                }

        }
    }}
}